<header>
    <nav class="nav has-shadow">
        <div class="nav-left"></div>
        <div class="nav-center">
            <a class="nav-item" href="{{ url_for('admin.index') }}">
                <h5 class="title is-5">Ddesk Back</h5>
                <p class="help">v1.0.0.b4</p>
            </a>
        </div>
        <div class="nav-right"></div>
    </nav>
</header>

<aside class="aside section">
    <p class="menu-label">
        当前用户: {{ current_user.name }}({{ current_user.id }}) <a href="{{ url_for('admin.logout') }}">退出</a>
    </p>
    <ul class="metismenu menu-list">
        <li>
            <a href="{{ url_for('admin.index') }}">
                <span class="icon is-small"><i class="fa fa-tachometer"></i></span>
                <span>概览</span>
            </a>
        </li>
        <li aria-haspopup="true">
            <a>
                <span class="icon is-small"> <i class="fa fa fa-comments-o" aria-hidden="true"></i></span>
                <span>工单</span>
                <span class="icon is-small is-angle"><i class="fa fa-angle-down"></i></span>
            </a>
            <ul>
                <li><a href="{{ url_for('.question') }}">问题与建议</a></li>
                <li><a href="{{ url_for('.demand') }}">产品、设计需求</a></li>
            </ul>
        </li>
        <li aria-haspopup="true">
            <a>
                <span class="icon is-small"> <i class="fa fa-users" aria-hidden="true"></i></span>
                <span>用户</span>
                <span class="icon is-small is-angle"><i class="fa fa-angle-down"></i></span>
            </a>
            <ul>
                <li><a href="{{ url_for('.user') }}">用户管理</a></li>
            </ul>
        </li>
        <li aria-haspopup="true">
            <a>
                <span class="icon is-small"> <i class="fa fa-cogs" aria-hidden="true"></i></span>
                <span>系统设置</span>
                <span class="icon is-small is-angle"><i class="fa fa-angle-down"></i> </span>
            </a>
            <ul>
                <li><a href="{{ url_for('.config') }}">网站设置</a></li>
            </ul>
        </li>
    </ul>
</aside>