<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../../static/back/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import Bulma.css-->
    <link type="text/css" rel="stylesheet" href="../../static/back/node_modules/bulma/css/bulma.css" media="screen,projection" />
    <!--Import metisMenu.css-->
    <link href="../../static/back/node_modules/metismenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Simditor -->
    <link href="../../static/back/node_modules/simditor/styles/simditor.css" rel="stylesheet" type="text/css">
    <!--Import common.css-->
    <link href="../../static/back/styles/common.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Ddesk Control</title>
</head>

<body>
    {% include 'back/_header.html' %}

    <div class="main">
        <div class="is-clearfix">
            <h3 class="title is-pulled-left">新增文章</h3>
            <a class="button is-small t-b" href="{{ url_for('.article') }}">返回</a>
        </div>
        <section class="section">
        <div class="columns">
            <form class="column is-8" action="" method="post">
                {% include 'front/_flashMsg.html' %}
                {% include 'front/_formMsg.html' %}
                {{ form.hidden_tag() }}

                {{ form.title.label(class="label") }}
                <p class="control">
                    {{ form.title(class="input", placeholder="标题") }}
                </p>
                {{ form.details.label(class="label") }}
                <p class="control">
                    {{ form.details(class="textarea", placeholder="文章正文") }}
                </p>
                {{ form.tag_id.label(class="label") }}
                 <p class="control">
                    <span class="select">
                    {{ form.tag_id() }}
                    </span>
                </p>
                <label class="label">是否正式发布(前台可见)</label>
                <p class="control">
                  <label class="checkbox">
                    {{ form.status }}
                    {{ form.status.label }}
                  </label>
                </p>
                <div class="submit">
                    <button class="button is-dark" type="submit">保存</button>
                </div>
            </form>
        </div>
        </section>
    </div>

    {% include '_footer.html' %}

    <!--Import jQuery-->
    <script type="text/javascript" src="../../static/back/node_modules/jquery/dist/jquery.min.js"></script>
    <!--Import CommonJS-->
    <script src="../../static/back/scripts/common.min.js" charset="utf-8"></script>
    <!--Import metisMenuJS-->
    <script src="../../static/back/node_modules/metismenu/dist/metisMenu.min.js"></script>
    <script>
        $(function() {
            $('.menu-list').metisMenu({
                toggle: false,
            });
        });
    </script>
    <!-- Simditor -->
    <script type="text/javascript" src="../../static/admin/node_modules/simple-module/lib/module.js"></script>
    <script type="text/javascript" src="../../static/admin/node_modules/simple-hotkeys/lib/hotkeys.js"></script>
    <script type="text/javascript" src="../../static/admin/node_modules/simple-uploader/lib/uploader.js"></script>
    <script type="text/javascript" src="../../static/admin/node_modules/simditor/lib/simditor.js"></script>
    <script>
        var goods_detail = new Simditor({
            textarea: $('#details'),
            toolbar: ['title','bold','strikethrough','fontScale','color','ol','blockquote','table','image','hr','link','alignment'],
            upload:{
                url:'{{ url_for('front.upyun') }}',
                fileKey:'detail_img'
            },
            imageButton:['upload']
        });
    </script>
</body>

</html>
