<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../../static/back/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import Bulma.css-->
    <link type="text/css" rel="stylesheet" href="../../static/back/node_modules/bulma/css/bulma.css" media="screen,projection" />
    <link href="../../static/back/node_modules/metismenu/dist/metisMenu.min.css" rel="stylesheet">
    <!--Import common.css-->
    <link href="../../static/back/styles/common.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Ddesk Control</title>
</head>

<body>
    {% include 'back/_header.html' %}

    <div class="main">
        {% include 'front/_flashMsg.html' %}
        <div class="is-clearfix">
            <h3 class="title is-pulled-left">问题与建议</h3>
            {% if status_code == '30' %}
               <a class="button is-small t-b" href="{{ url_for('.question')}}">返回待处理列表</a>
            {% else %}
                <a class="button is-small t-b" href="{{ url_for('.question', status=30)}}">已处理完毕的问题</a>
            {% endif %}
        </div>
        <section class="section">
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>流水号</th>
                        <th>发起时间</th>
                        <th>发起人</th>
                        <th>相关产品线</th>
                        <th>备注</th>
                        <th>处理进度</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in datas %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.create_time }}</td>
                        <td>{{ item.creator.name }}({{ item.creator.tel }})</td>
                        <td>{{ item.category_name }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.status }}</td>
                        <td><a href="{{ url_for('.edit_question', id=item.id) }}">编辑</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    {% include '_footer.html' %}

    <!--Import jQuery-->
    <script type="text/javascript" src="../../static/back/node_modules/jquery/dist/jquery.min.js"></script>
    <!--Import CommonJS-->
    <script src="../../static/back/scripts/common.min.js" charset="utf-8"></script>
    <!--Import metisMenuJS-->
    <script src="../../static/back/node_modules/metismenu/dist/metisMenu.min.js"></script>
    <script>
        $(function() {
            $('.menu-list').metisMenu({
                toggle: false,
            });
        });
    </script>
</body>

</html>
