<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>需求 - 产品事务处理系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../../static/admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../../static/admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/admin/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include 'admin/_nav.html' %}

        <!-- Page Content -->
        <div id="page-wrapper">
                <div class="row">
                    {% include 'admin/_msg.html' %}
                    <div class="col-lg-12">

                        <h1 class="page-header">需求</h1>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            需求列表 &nbsp&nbsp&nbsp
                            {% if status_code == 'end' %}
                                <a href="{{ url_for('.demand') }}">处理中的需求</a>
                            {% else %}
                                <a href="{{ url_for('.demand', status='end') }}">已完结的需求</a>
                            {% endif %}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>流水号</th>
                                            <th>发起时间</th>
                                            <th>发起人</th>
                                            <th>相关产品线</th>
                                            <th>需求概述</th>
                                            <th>跟进负责人</th>
                                            <th>处理进度</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for demand in all_demand %}
                                        <tr class="odd gradeX">
                                            <td>{{ demand.id }}</td>
                                            <td>{{ demand.create_time }}</td>
                                            <td>{{ demand.create_customer.username }}({{ demand.create_customer.tel }})</td>
                                            <td>{{ demand.category.name }}</td>
                                            <td>{{ demand.title }}</td>
                                            <td>{{ demand.assignee.name }}</td>
                                            <td>{{ DEMAND_STATUS[demand.status] }}</td>
                                            <td>
                                                <a href="{{ url_for('.edit_demand', demand_id=demand.id) }}">详情/处理 </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../static/admin/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../static/admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/admin/dist/js/sb-admin-2.js"></script>


    <!-- DataTables JavaScript -->
    <script src="../../static/admin/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../../static/admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
        $('.mission-end').click(function(){
            var mission_code = $(this).attr('mission-code');
            $('#mission_code').attr('value', mission_code);
        });
    });
    </script>
</body>

</html>
