<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>添加版本 - 产品事务处理系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/admin/node_modules/startbootstrap-sb-admin-2/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/admin/node_modules/startbootstrap-sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- datetimepicker CSS -->
    <link href="../../static/admin/node_modules/startbootstrap-sb-admin-2/bower_components/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" type="text/css" >

    <!-- Custom CSS -->
    <link href="../../static/admin/node_modules/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/admin/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- simditor -->
    <link href="../../static/admin/node_modules/simditor/styles/simditor.css" rel="stylesheet" type="text/css">


    <!-- Bootstrap-chosen -->
    <link href="../../static/admin/node_modules/bootstrap-chosen/bootstrap-chosen.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include 'admin/_nav.html' %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">添加版本</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="col-md-4">
                     <!-- 添加东西表单效验提示区域 -->
                    {% include 'admin/_msg-form.html' %}
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.pro_line.label }}
                            {{ form.pro_line(class="chosen-select") }}
                        </div>
                        <div class="form-group">
                            {{ form.num.label }}
                            {{ form.num(class="form-control", placeholder="版本号,如v0.1.0") }}
                        </div>
                        <div class="form-group">
                            {{ form.details.label }}
                            {{ form.details(class="form-control", placeholder="版本详情") }}
                        </div>
                        <div class="form-group">
                            {{ form.pub_time.label }}
                            {{ form.pub_time(class="form-control", placeholder="发布时间") }}
                        </div>
                        <div class="form-group">
                            {{ form.is_pre.label }}
                            {{ form.is_pre() }}
                        </div>
                        <div class="form-group">
                            {{ form.is_new.label }}
                            {{ form.is_new() }}
                        </div>
                        {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../static/admin/node_modules/startbootstrap-sb-admin-2/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/admin/node_modules/startbootstrap-sb-admin-2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../static/admin/node_modules/startbootstrap-sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/admin/node_modules/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>

    <!-- datetimepicker JavaScript -->
    <script src="../../static/admin/node_modules/startbootstrap-sb-admin-2/bower_components/datetimepicker/jquery.datetimepicker.js"></script>

    <!-- Simditor -->
    <script type="text/javascript" src="../../static/admin/node_modules/simple-module/lib/module.js"></script>
    <script type="text/javascript" src="../../static/admin/node_modules/simple-hotkeys/lib/hotkeys.js"></script>
    <script type="text/javascript" src="../../static/admin/node_modules/simple-uploader/lib/uploader.js"></script>
    <script type="text/javascript" src="../../static/admin/node_modules/simditor/lib/simditor.js"></script>
    <script>
        var goods_detail = new Simditor({
            textarea: $('#details'),
            toolbar: ['bold','strikethrough','fontScale','color','ol','blockquote','table','image','hr','link'],
            upload:{
                url:'{{ url_for('.api_upyun') }}',
                fileKey:'detail_img'
            },
            imageButton:['upload']
        });
        $('#pub_time').datetimepicker({
              lang:"ch",           //语言选择中文
              format:"Y-m-d",      //格式化日期
              timepicker: false,    //关闭时间选项
              yearStart: 2016,     //设置最小年份
              yearEnd: 2050,        //设置最大年份
              todayButton: false    //关闭选择今天按钮
        });
    </script>

    <!-- Bootstrap-chosen -->
    <script src="../../static/admin/node_modules/bootstrap-chosen/dist/chosen.jquery-1.4.2/chosen.jquery.min.js"></script>
    <script>
          $(function() {
            $(".chosen-select").chosen({
                no_results_text: "没有匹配的Tag：",
                placeholder_text_multiple:'请输入关键词选择Tag'
            });
          });
    </script>
</body>

</html>
