<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../../static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../static/node_modules/bulma/css/bulma.css" media="screen,projection" />
    <!--Import common.css-->
    <link href="../../static/styles/front/common.min.css" rel="stylesheet">
    <!-- Simditor -->
    <link href="../../static/node_modules/simditor/styles/simditor.css" rel="stylesheet" type="text/css">
    <!--Import favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ web_title }} - 提产品需求 | {{ web_subtitle }}</title>
</head>

<body>
    {% include 'front/_header.html' %}

    <section class="section">
        <div class="de-nav">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li class="is-active">
                        <a href="{{ url_for('.add_demand', c='p') }}">
                            <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
                            <span>产品需求</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('.add_demand', c='d') }}">
                            <span class="icon is-small"><i class="fa fa-image"></i></span>
                            <span>设计需求</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="de-form" action="" method="post">
            {% include 'front/_flashMsg.html' %}
            {% include 'front/_formMsg.html' %}
            {{ form.hidden_tag() }}
            <article class="message is-warning">
              <div class="message-header">
                说明
              </div>
              <div class="message-body">
                  <p> 提需求前请与对应产品经理事先沟通,未沟通请勿在这里提出。</p>
                  <p>因运营需要所需的设计类需求，不属于产品需求，无需与产品经理沟通，请您直接进入「设计需求」栏目向设计师提出。</p>
              </div>
            </article>
            {{ form.type.label(class="label") }}
            <p class="control">
                <span class="select">
                    {{ form.type }}
              </span>
            </p>
            {{ form.audience.label(class="label") }}
            <p class="control">
                <span class="select">
                    {{ form.audience}}
              </span>
            </p>
            {{ form.source.label(class="label") }}
            <p class="control">
                <span class="select">
                    {{ form.source}}
              </span>
            </p>
            {{ form.category.label(class="label") }}
            <p class="control">
                <span class="select">
                    {{ form.category}}
              </span>
            </p>
            {{ form.title.label(class="label") }}
            <p class="control">
                {{ form.title(class="input", placeholder="简短的描述需求") }}
            </p>
            <label class="label">{{ form.details.label(class="label") }}</label>
            <p class="control">
                {{ form.details(id="details", class="textarea", placeholder="如果几句话说不清楚或要上传图片,请在这里填写更多内容") }}
            </p>
            <p class="content">产品经理可能会要求您提供《需求申请表》等附件，请找产品经理索取，填写完毕后直接发给之前与您沟通的产品经理。</p>
            <div class="content">
                <blockquote>您的联系信息：{{ current_user.name }}， {{ current_user.tel }} <a href="{{ url_for('.logout') }}">退出</a>
                    <p class="help">若联系信息有误请告知技术产品部任意产品经理修改</p>
                </blockquote>
            </div>

            <div class="submit">
                <button class="button is-dark" type="submit">提交</button>
            </div>
        </form>
    </section>

    {% include '_footer.html' %}

    <!--Import jQuery-->
    <script type="text/javascript" src="../../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../static/scripts/front/common.min.js" charset="utf-8"></script>

    <!-- Simditor -->
    <script type="text/javascript" src="../../static/node_modules/simple-module/lib/module.js"></script>
    <script type="text/javascript" src="../../static/node_modules/simple-hotkeys/lib/hotkeys.js"></script>
    <script type="text/javascript" src="../../static/node_modules/simple-uploader/lib/uploader.js"></script>
    <script type="text/javascript" src="../../static/node_modules/simditor/lib/simditor.js"></script>
    <script>
        var new_textarea = new Simditor({
            textarea: $('#details'),
            toolbar: ['bold', 'strikethrough', 'color', 'ol', 'blockquote', 'image', 'hr'],
            upload: {
                url: '{{ url_for('.upyun') }}',
                fileKey: 'detail_img'
            },
            imageButton: ['upload']
        });
    </script>

</body>

</html>
