<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../../static/front/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../static/node_modules/bulma/css/bulma.css" media="screen,projection" />
    <!--Import common.css-->
    <link href="../../static/front/styles/common.min.css" rel="stylesheet">
    <!-- Simditor -->
    <link href="../../static/front/node_modules/simditor/styles/simditor.css" rel="stylesheet" type="text/css">
    <!--Import favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ web_title }} - 提设计需求 | {{ web_subtitle }}</title>
</head>

<body>
    {% include 'front/_header.html' %}

    <section class="section">
        <div class="de-nav">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li>
                        <a href="{{ url_for('.add_demand', c='p') }}">
                            <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
                            <span>产品需求</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="{{ url_for('.add_demand', c='d') }}">
                            <span class="icon is-small"><i class="fa fa-image"></i></span>
                            <span>设计需求</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="de-form" action="" method="post">
            {% include 'front/_flashMsg.html' %}
            {% include 'front/_formMsg.html' %}
            {{ form.hidden_tag() }}
            <article class="message is-warning">
              <div class="message-header">
                说明
              </div>
              <div class="message-body">
                  <p>向设计师提出设计类需求，如有关具体网站产品、界面改动，请先与产品经理确认。</p>
                  <p>设计需求须知：</p>
                  <p>1.需求提交请提前7天申请；</p>
                  <p>2.需求确认后，如需求有变更，上线时间将进行相应调整；</p>
                  <p>3.具体物料种类和尺寸请参照《基础物料清单》（找设计师索取），如有特殊尺寸请说明清楚；</p>
                  <p>4.若主办方或者参与方对颜色和素材有特殊要求也请在详细说明里写明。</p>
               </div>
            </article>
            <label class="label">支持内容</label>
            <p class="control">
              <label class="checkbox">
                {{ form.support1 }} {{ form.support1.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </label>
                <label class="checkbox">
                   {{ form.support2 }} {{ form.support2.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </label>
                <label class="checkbox">
                   {{ form.support3 }} {{ form.support3.label }}
                </label>
            </p>
            {{ form.des_type.label(class="label") }}
            <p class="control">
                <span class="select">
                    {{ form.des_type }}
              </span>
            </p>
            {{ form.title.label(class="label") }}
            <p class="control">
                {{ form.title(class="input", placeholder="简短的描述需求") }}
            </p>
            {{ form.details.label(class="label") }}
            <p class="control">
                 {{ form.details(id="details", class="textarea", placeholder="如果几句话说不清楚或要上传图片,请在这里填写更多内容") }}
            </p>
            <div class="content">
                <blockquote>您的联系信息：{{ current_user.name }}， {{ current_user.tel }} <a href="{{ url_for('.logout') }}">退出</a>
                    <p class="help">若联系信息有误请告知技术产品部任意产品经理修改</p>
                </blockquote>
            </div>

            <div class="submit">
                <button class="button is-dark" type="submit">提交</button>
            </div>
        </form>
    </section>

    {% include '_footer.html' %}

    <!--Import jQuery-->
    <script type="text/javascript" src="../../static/front/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../static/front/scripts/common.min.js" charset="utf-8"></script>

    <!-- Simditor -->
    <script type="text/javascript" src="../../static/front/node_modules/simple-module/lib/module.js"></script>
    <script type="text/javascript" src="../../static/front/node_modules/simple-hotkeys/lib/hotkeys.js"></script>
    <script type="text/javascript" src="../../static/front/node_modules/simple-uploader/lib/uploader.js"></script>
    <script type="text/javascript" src="../../static/front/node_modules/simditor/lib/simditor.js"></script>
    <script>
        var new_textarea = new Simditor({
            textarea: $('#details'),
            toolbar: ['bold', 'strikethrough', 'color', 'ol', 'blockquote', 'image', 'hr'],
            upload: {
                url: '{{ url_for('.upyun') }}',
                fileKey: 'detail_img'
            },
            imageButton: ['upload']
        });
    </script>

</body>

</html>
