<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../../static/front/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../static/node_modules/bulma/css/bulma.css" media="screen,projection" />
    <!--Import common.css-->
    <link href="../../static/front/styles/common.min.css" rel="stylesheet">
    <!-- Simditor -->
    <link href="../../static/front/node_modules/simditor/styles/simditor.css" rel="stylesheet" type="text/css">
    <!--Import favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ web_title }} - 提问题、建议、Bug | {{ web_subtitle }}</title>
</head>

<body>
    {% include 'front/_header.html' %}

    <section class="section">
        <form class="que-form" action="" method="post">
            {% include 'front/_flashMsg.html' %}
            {% include 'front/_formMsg.html' %}
            {{ form.hidden_tag() }}
            <article class="message">
              <div class="message-header">
                说明
              </div>
              <div class="message-body">
                您有任何针对网站产品的问题或建议，以及发现网站错误（Bug）或不正常之处，您可以随时通过这里反馈给技术产品部。
              </div>
            </article>
            {{ form.category.label(class="label") }}
            <p class="control">
                <span class="select">
                    {{ form.category }}
              </span>
            </p>
            {{ form.title.label(class="label") }}
            <p class="control">
                {{ form.title(class="input", placeholder="简短的描述问题或建议") }}
            </p>
            {{ form.details.label(class="label") }}
            <p class="control">
                {{ form.details(id="details", class="textarea", placeholder="如果几句话说不清楚或要上传图片,请在这里填写更多内容") }}
            </p>
            <div class="content">
                <blockquote>您的联系信息：{{ current_user.name }}， {{ current_user.tel }} <a href="{{ url_for('.logout') }}">退出</a>
                    <p class="help">若联系信息有误请告知技术产品部任意产品经理修改</p>
                </blockquote>
            </div>
            <div class="submit">
                <button class="button is-dark" type="submit">提交</button>
            </div>
        </form>
    </section>

    {% include '_footer.html' %}

    <!--Import jQuery-->
    <script type="text/javascript" src="../../static/front/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../static/front/scripts/common.min.js" charset="utf-8"></script>

    <!-- Simditor -->
    <script type="text/javascript" src="../../static/front/node_modules/simple-module/lib/module.js"></script>
    <script type="text/javascript" src="../../static/front/node_modules/simple-hotkeys/lib/hotkeys.js"></script>
    <script type="text/javascript" src="../../static/front/node_modules/simple-uploader/lib/uploader.js"></script>
    <script type="text/javascript" src="../../static/front/node_modules/simditor/lib/simditor.js"></script>
    <script>
        var new_textarea = new Simditor({
            textarea: $('#details'),
            toolbar: ['bold', 'strikethrough', 'color', 'ol', 'blockquote', 'image', 'hr'],
            upload: {
                url: '{{ url_for('.upyun') }}',
                fileKey: 'detail_img'
            },
            imageButton: ['upload']
        });
    </script>

</body>

</html>
