<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Ddesk</strong> by <a href="http://duzhipeng.com" target="_blank">Zhipeng Du</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/duzhipeng/Ddesk" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>