    <nav>
        <div class="nav-wrapper white">
            <div class="container">
                <!-- Page Content goes here -->
                <a href="{{ url_for('.index') }}" class="brand-logo black-text">{{ web_title.value }}</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-list black-text" aria-hidden="true"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('.index') }}"><span class="black-text">公告板</span></a></li>

                    <li><a href="{{ url_for('.add_demand', c='p') }}"><span class="black-text">提需求</span></a></li>
                    <li><a href="{{ url_for('.add_question') }}"><span class="black-text">问题与建议</span></a></li>
                    <li><a href="{{ url_for('.query', status=10) }}"><span class="black-text">处理进度查询</span></a></li>
                    <li><a href="{{ url_for('.version') }}"><span class="black-text">产品更新看板</span></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{ url_for('.index') }}"><span class="black-text">公告板</span></a></li>

                    <li><a href="{{ url_for('.add_demand', c='p') }}"><span class="black-text">提需求</span></a></li>
                    <li><a href="{{ url_for('.add_question') }}"><span class="black-text">问题与建议</span></a></li>
                    <li><a href="{{ url_for('.query', status=10) }}"><span class="black-text">处理进度查询</span></a></li>
                    <li><a href="{{ url_for('.version') }}"><span class="black-text">产品更新看板</span></a></li>
                </ul>
            </div>

        </div>
    </nav>