<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/node_modules/bulma/css/bulma.css" media="screen,projection" />
    <!--Import common.css-->
    <link href="../static/styles/commonv2.min.css" rel="stylesheet">
    <!--Import favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ web_title }} | {{ web_subtitle }}</title>
</head>

<body>
    <div class="container">
        <div class="login-main has-text-centered">
            <h5 class="title is-5">{{ web_title }}</h5>
            <h6 class="subtitle is-6">{{ web_subtitle }}</h6>

        </div>

        <form class="login-form" action="" method="post">
            {% include '_flashMsg.html' %}
            {% include '_formMsg.html' %}
            {{ form.hidden_tag() }}
            <div class="text">
                <label class="label">姓名</label>
                <p class="control">
                    {{ form.username(class="input", placeholder="你的姓名") }}
                </p>
            </div>
            <div class="text">
                <label class="label">手机号</label>
                <p class="control">
                    {{ form.tel(class="input", placeholder="你在钉钉上的手机号") }}
                </p>
            </div>
            <div class="submit">
                <button class="button is-dark" type="submit">登录</button>
            </div>
        </form>
    </div>
    {% include '_footer.html' %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../static/scripts/common.min.js" charset="utf-8"></script>
</body>

</html>
