<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection" />

    <!--Import common.css-->
    <link href="../static/styles/common.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ web_title.value }}</title>
</head>

<body>
    <!-- header -->
    {% include '_header.html' %}
    <!-- main -->
    <div class="container">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <h5>处理进度查询</h5>
        <p>在这里查看自己所提问题和需求的处理情况。</p>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#test2">待确认</a></li>
                    <li class="tab col s3"><a href="#test3">处理中</a></li>
                    <li class="tab col s3"><a href="#test4">已完结</a></li>
                </ul>
            </div>
            <div id="test2" class="col s12">
                <div class="row">
                    <table class="bordered">
                        <div class="row"></div>
                        <div class="row"></div>
                            <tbody>
                            {% if current_user.is_authenticated %}
                                <p>当前登录账号：{{ current_user.username }}</p>
                                {% for item in all_user_question if item.status == 1 %}
                                <tr>
                                    <td><a href="{{ url_for('.query_details', cid=1, pid=item.id) }}" target="_blank">问题等待产品经理查看确认，点击查看详情</a></td>
                                    <td class="deep-orange-text">问题</td>
                                    <td>{{ item.create_time|string|truncate(10, end='') }}</td>
                                </tr>
                                {% endfor %}
                                {% for item in all_user_demand if item.status == 1 %}
                                <tr>
                                    <td><a href="{{ url_for('.query_details', cid=2, pid=item.id) }}" target="_blank">需求等待产品经理查看确认，点击查看详情</a></td>
                                    <td class="purple-text">需求</td>
                                    <td>{{ item.create_time|string|truncate(10, end='') }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <a href="{{ url_for('.login', next='/query') }}">请先登录系统</a>
                            {% endif %}
                            </tbody>
                    </table>
                </div>
            </div>
            <div id="test3" class="col s12">
                <div class="row">
                    <table class="bordered">
                        <div class="row"></div>
                        <div class="row"></div>
                            <tbody>
                            {% if current_user.is_authenticated %}
                                <p>当前登录账号：{{ current_user.username }}</p>
                                {% for item in all_user_question if item.status == 2 %}
                                <tr>
                                    <td><a href="{{ url_for('.query_details', cid=1, pid=item.id) }}" target="_blank">{{ item.title|string|truncate(30, end='...') }}</a></td>
                                    <td class="deep-orange-text">问题</td>
                                    <td>{{ item.create_time|string|truncate(10, end='') }}</td>
                                </tr>
                                {% endfor %}
                                {% for item in all_user_demand if 2 <= item.status <= 9 %}
                                <tr>
                                    <td><a href="{{ url_for('.query_details', cid=2, pid=item.id) }}" target="_blank">{{ item.title|string|truncate(30, end='...') }}</a></td>
                                    <td class="purple-text">需求</td>
                                    <td>{{ item.create_time|string|truncate(10, end='') }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <a href="{{ url_for('.login', next='/query') }}">请先登录系统</a>
                            {% endif %}
                            </tbody>
                    </table>
                </div>
            </div>
            <div id="test4" class="col s12">
                <div class="row">
                    <table class="bordered">
                        <div class="row"></div>
                        <div class="row"></div>
                            <tbody>
                            {% if current_user.is_authenticated %}
                                <p>当前登录账号：{{ current_user.username }}</p>
                                {% for item in all_user_question if item.status == 2 %}
                                <tr>
                                    <td><a href="{{ url_for('.query_details', cid=1, pid=item.id) }}" target="_blank">{{ item.title|string|truncate(30, end='...') }}</a></td>
                                    <td class="deep-orange-text">问题</td>
                                    <td>{{ item.create_time|string|truncate(10, end='') }}</td>
                                </tr>
                                {% endfor %}
                                {% for item in all_user_demand if item.status >= 10 %}
                                <tr>
                                    <td><a href="{{ url_for('.query_details', cid=2, pid=item.id) }}" target="_blank">{{ item.title|string|truncate(30, end='...') }}</a></td>
                                    <td class="purple-text">需求</td>
                                    <td>{{ item.create_time|string|truncate(10, end='') }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <a href="{{ url_for('.login', next='/query') }}">请先登录系统</a>
                            {% endif %}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {% include '_footer.html' %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../static/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        })
    </script>
</body>

</html>
