<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Import Icon Font-->
    <link href="../static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/node_modules/materialize-css/dist/css/materialize.min.css" media="screen,projection" />

    <!--Import common.css-->
    <link href="../static/styles/common.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ web_title.value }}</title>
</head>

<body>
    <!-- header -->
    {% include '_header1.html' %}
    <!-- main -->
    <div class="container">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <h5>在这里了解产品研发方向和前沿规划</h5>
        <p>先选择产品线,之后选择具体产品了解其规划和历史版本情况</p>
        <div class="row"></div>
        <div class="row"></div>
            <div class="col s12">
            {% for category in all_category %}
                <a class="waves-effect waves-light btn" href="{{ url_for('.version', id=category.id) }}">{{ category.name }}</a>
            {% endfor %}
            <div class="row"></div>
            <div class="row"></div>
                {% if all_tag %}
                    <ul class="tabs ">
                     {% for item in all_tag %}
                        <li class="tab col s3"><a href="#{{ item.id }}">{{ item.name }}</a></li>
                     {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {% if all_tag %}
                {% for tag in all_tag %}
                <div id="{{ tag.id }}" class="col s12">
                    {% for item in Version.query.filter_by(pro_line=tag.id).order_by(Version.pub_time.desc()).all() %}
                        {% if item.is_pre %}
                            <div class="row"></div>
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header active">
                                        <div class="chip orange white-text">预告版本</div> {{ item.num }}<span class="right">预告发布：{{ item.pub_time|string|truncate(10, end='') }}</span></div>
                                    <div class="collapsible-body">
                                        <div class="details">
                                            {{ item.details|safe }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                    <div class="row"></div>

                    <ul class="collapsible" data-collapsible="accordion">
                        {% for item in Version.query.filter_by(pro_line=tag.id).order_by(Version.pub_time.desc()).all() if not item.is_pre %}
                            {% if item.is_new %}
                        <li>
                            <div class="collapsible-header active">
                                <div class="chip green white-text">最新版本</div> {{ item.num }}<span class="right">上线时间：{{ item.pub_time|string|truncate(10, end='') }}</span></div>
                            <div class="collapsible-body">
                                <div class="details">
                                    {{ item.details|safe }}
                                </div>
                            </div>
                        </li>
                            {% else %}
                        <li>
                            <div class="collapsible-header active">{{ item.num }}<span class="right">上线时间：{{ item.pub_time|string|truncate(10, end='') }}</span></div>
                            <div class="collapsible-body">
                                <div class="details">
                                    {{ item.details|safe }}
                                </div>
                            </div>
                        </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <!-- footer -->
    {% include '_footer1.html' %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../static/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('ul.tabs').tabs();
        })
    </script>
</body>

</html>
